@media screen and (max-width: 760px) {
    .nav-logo {
        display: none;
    }

    .nav-links li {
        margin-left: 35px;
        display: none;
    }

    .create-account {
        display: none;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    p {
        max-width: 350px;
    }
}
